extends layout
block head
  script(src='/socket.io/socket.io.js')
  script.
    window.CHANNEL_ID = "#{channelId}";
  script(src='/chat.js')
  script(src="/playercontrols.js")
block content
  .container
    p Channel: [#{channelId}]
    p: a(href="/draw?channel=#{channelId}") Draw!
    p
      button.btn#play Play
      button.btn#pause Pause
    #content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
    form.controls
      | Name:
      input#name(style='width:350px;')
      br
      | Avatar URL:
      input#avatar(style='width:350px;', value="https://dl.dropboxusercontent.com/u/821/samsung/girl3.jpg")
      br
      input#chatmessage(style='width:350px;')
      input#send(type='submit', value='send')
