extends layout

block content
  .container
    center
      img(src="/tabby-logo.png", style="max-width: 200px")
      h1 tabby.tv
    hr
    each id in channels
      p: a.btn.btn-default(role="button", href="/join?tv=#{tvId}&channel=#{id}") #{id}
