extends layout

block content
  .jumbotron
    .container
      h1 Welcome to tabby.tv
      p
        a.btn.btn-primary.btn-lg(role='button') Join a channel
      p
        a.btn.btn-primary.btn-lg(role='button') Create a channel
