extends layout

block content
  .jumbotron
    .container
      h1 Connected to tabby.tv
      p
        a.btn.btn-primary.btn-lg(role='button', href="/join?tv=#{tvId}") Join a channel
      p
        a.btn.btn-primary.btn-lg(role='button', href="/create?tv=#{tvId}") Create a channel
